* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root,
.app {
  width: 100%;
  height: 100%;
}

body {
  overflow: hidden;
  background: #050403;
  font-family: Georgia, "Times New Roman", serif;
}
